.header{
    display: flex;
    justify-content:center;
    padding: 0 20px;
    background-color: #282c34;
    color: rgba(208, 5, 5, 0.771);
}

h1{
    font-size: 4em;
    color: #61dafb;
}
h2{
    display: flex;
    justify-content: center;
}

/* Conversion Box/input */
.currency-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.input-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}
.user-input{
    padding: 5px;
    margin: auto;
    font-size: 20px;
    width: 100px;
    text-align: center;
}


/* Conversion Data/Output */
.output{
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 100px;
}
.conversion-box{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}
.conversion-box p{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}